.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.inner-container {
    background-color: rgba(253, 253, 253, 0.801);
    border: 1px solid #a7a9ad51;
    padding: 10px;
    margin: 15px;
    width: 300px;
    height: 150px;
}

body {
    background-color: rgba(97, 190, 245, 0.349);
    font-family: Arial, sans-serif;
    text-align: center;
  }

h3, p, a{
    text-align: center;
}

p {
    line-height: 1;
    margin: 0;
    font-size: 13.5px;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    font-size: 13.5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 25
}
